[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
pykechain = "*"
requests = ">=2.20.0"

[requires]
python_version = "3.5"
